In [107]:
import pandas as pd
import numpy as np

Import the cdc.csv file from github, I have cleaned some data.

In [108]:
cdc = pd.read_csv("/Users/zainabazizzaveri/Downloads/cdc.csv")

In [278]:
cdc1=cdc.drop(['Primary Mode','Etiology', 'Serotype or Genotype', 'Etiology Status','Setting','Hospitalizations'],axis=1)
cdc1 =cdc1.drop(['Info on Hospitalizations','Deaths','Info on Deaths','Food Contaminated Ingredient','IFSAC Category','Water Exposure','Water Type','Animal Type','Water Status','Animal Type Specify'],axis=1)
cdc1 = cdc1[cdc1.State !='Multistate']
cdc1

,Year,Month,State,Illnesses,Food Vehicle
0,2017,1,NY,20,"house salad; fish, baked flounder; broccoli, u..."
1,2017,1,WI,7,NaN
2,2017,1,TN,10,NaN
3,2017,1,OH,14,NaN
4,2017,1,WI,35,NaN
...,...,...,...,...,...
20843,1998,1,OH,4,"pizza, pepperoni"
20844,1998,1,CA,4,"stuffing, unspecified; sandwich, turkey"
20845,1998,1,PA,17,NaN
20846,1998,8,HI,38,"eggs, other"
20853,1998,7,UT,10,"ground beef, hamburger"

In [279]:
cdc1 = cdc1.drop_duplicates(['Year','Month','State','Illnesses','Food Vehicle'],keep= 'last')
cdc1['str_year'] = cdc1['Year'].astype(str)
cdc1['str_month'] = cdc1['Month'].astype(str)
cdc1['conc'] = cdc1['str_year'] + cdc1['str_month'] + cdc1['State']
#cdc1.loc[cdc1['conc']== '20164AZ']

/Users/zainabazizzaveri/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/zainabazizzaveri/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zainabazizzaveri/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Give path to the table generated by the DBSCAN noteboook

In [243]:
tab1 = pd.read_csv("/Users/zainabazizzaveri/Downloads/tables/table0.05-3-9.csv")

In [281]:
y = tab1.rename(columns={"Unnamed: 0": "Cluster_Number", "cluster": "size_of_clust", "date": "start_date", "date.1":"end_date"}, errors="raise")

In [282]:
x= y.drop([0,1])
date = pd.to_datetime(x['start_date'])
x['start_date'] = date
date = pd.to_datetime(x['end_date'])
x['end_date'] = date
x["s_month"] = x['start_date'].map(lambda x: x.month)
x['str_s_month'] = x['s_month'].astype(str)
x["s_year"] = x['start_date'].map(lambda x: x.year)
x['str_s_year'] = x['s_year'].astype(str)
x["e_month"] = x['end_date'].map(lambda x: x.month)
x['str_e_month'] = x['e_month'].astype(str)
x["e_year"] = x['end_date'].map(lambda x: x.year)
x['str_e_year'] = x['e_year'].astype(str)
x =x.drop(['start_date','end_date'],axis=1)

In [283]:
x['diff'] = x['e_year']-x['s_year']
x['valid'] = x['diff'].apply(lambda y: 1 if y<=1 else 0)
x = x[x.valid != 0]

In [284]:
x['conc1'] = x['str_s_year'] + x['str_s_month'] + x['state']
x['conc2'] = x['str_s_year'] + x['str_s_month'] + x['state.1']
x['conc3'] = x['str_e_year'] + x['str_e_month'] + x['state']
x['conc4'] = x['str_e_year'] + x['str_e_month'] + x['state.1']

In [285]:
x['r1'] = x['conc1'].isin(cdc1['conc'])
x['r2'] = x['conc2'].isin(cdc1['conc'])
x['r3'] = x['conc3'].isin(cdc1['conc'])
x['r4'] = x['conc4'].isin(cdc1['conc'])
x['match'] =np.nan
x['r1'] = x['r1'].apply(lambda y: 1 if y == True else 0)
x['r2'] = x['r2'].apply(lambda y: 1 if y == True else 0)
x['r3'] = x['r3'].apply(lambda y: 1 if y == True else 0)
x['r4'] = x['r4'].apply(lambda y: 1 if y == True else 0)
x['sumr']   =    x['r1'] + x['r2'] +x['r3'] +x['r4'] 
x['match']= x['sumr'].apply(lambda y: 1 if y>0 else 0)

This is the total number of matches

In [286]:
x['match'].sum()

79